# Data Science Tools and Ecosystem

## Author
Sai Deepak Reddy Kothi

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List libraries for Data Science
+ Create a table listing Development tools for Data Science
+ Write sample code for mathematical operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Tensorflow
5. Apache Kafka
6. Scikit-learn
7. weka

|Data Science Tools|
|------------------|
|Jupyter|
|Jupyter Lab|
|Spyder|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
(200)/60

3.3333333333333335